In [20]:
# https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=html&date=20200530&stockNo=2330
# 參考資料：https://weikaiwei.com/python/python-stock-crawler/?unapproved=72&moderation-hash=f2d094b14ad5035d993554cc6b1ca3f4#comment-72
import requests
import pandas as pd

In [11]:
url = 'https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=html&date=20200530&stockNo=2330'
data_temp = pd.read_html(requests.get(url).text)

In [12]:
data_temp

[   109年05月 2330 台積電 各日成交資訊                                                     \
                         日期      成交股數         成交金額    開盤價    最高價    最低價    收盤價
 0                109/05/04  72252861  21341931218  294.5  296.5  294.0  295.0
 1                109/05/05  23988405   7104774785  296.5  298.0  295.0  295.5
 2                109/05/06  35704479  10524838077  294.5  296.0  292.5  296.0
 3                109/05/07  28017198   8321170642  294.5  299.0  294.5  297.5
 4                109/05/08  35613893  10619091212  300.0  300.0  296.0  297.5
 5                109/05/11  32379019   9729431840  300.0  301.5  298.5  301.0
 6                109/05/12  52494788  15553012596  297.5  298.5  295.0  295.0
 7                109/05/13  46158418  13619538824  293.0  297.0  292.5  297.0
 8                109/05/14  34480948  10119787160  293.0  295.0  292.5  293.0
 9                109/05/15  44304804  13170466660  297.5  298.5  294.5  298.0
 10               109/05/18  96872065  28216346996  291.0  293.5  290.0  290.0
 11               109/05/19  53083214  15527338138  294.0  294.0  291.5  291.5
 12               109/05/20  36789994  10772280152  293.0  294.0  291.0  294.0
 13               109/05/21  36299468  10782482962  296.0  298.0  295.0  297.5
 14               109/05/22  41138923  12025339565  294.5  295.0  291.0  292.0
 15               109/05/25  32942223   9568008388  290.5  293.0  288.5  292.0
 16               109/05/26  35817481  10609868646  295.0  297.5  293.5  295.5
 17               109/05/27  23375959   6932934823  297.0  298.0  295.5  296.5
 18               109/05/28  32395568   9575118830  298.5  298.5  293.0  294.0
 19               109/05/29  96611181  28172174547  292.0  292.5  290.0  292.0


    漲跌價差   成交筆數
 0  -9.5  37736
 1   0.5  13569
 2   0.5  16046
 3   1.5  13149
 4   0.0  14345
 5   3.5  14920
 6  -6.0  29073
 7   2.0  14555
 8  -4.0  21482
 9   5.0  20071
 10 -8.0  49640
 11  1.5  22033
 12  2.5  16906
 13  3.5  17064
 14 -5.5  22345
 15  0.0  14585
 16  3.5  19524
 17  1.0  11244
 18 -2.5  13208
 19 -2.0  21037  ]

In [14]:
data = pd.read_html(requests.get(url).text)[0]
data

   109年05月 2330 台積電 各日成交資訊                                                     \
                        日期      成交股數         成交金額    開盤價    最高價    最低價    收盤價
0                109/05/04  72252861  21341931218  294.5  296.5  294.0  295.0
1                109/05/05  23988405   7104774785  296.5  298.0  295.0  295.5
2                109/05/06  35704479  10524838077  294.5  296.0  292.5  296.0
3                109/05/07  28017198   8321170642  294.5  299.0  294.5  297.5
4                109/05/08  35613893  10619091212  300.0  300.0  296.0  297.5
5                109/05/11  32379019   9729431840  300.0  301.5  298.5  301.0
6                109/05/12  52494788  15553012596  297.5  298.5  295.0  295.0
7                109/05/13  46158418  13619538824  293.0  297.0  292.5  297.0
8                109/05/14  34480948  10119787160  293.0  295.0  292.5  293.0
9                109/05/15  44304804  13170466660  297.5  298.5  294.5  298.0
10               109/05/18  96872065  28216346996  291.0  293.5  290.0  290.0
11               109/05/19  53083214  15527338138  294.0  294.0  291.5  291.5
12               109/05/20  36789994  10772280152  293.0  294.0  291.0  294.0
13               109/05/21  36299468  10782482962  296.0  298.0  295.0  297.5
14               109/05/22  41138923  12025339565  294.5  295.0  291.0  292.0
15               109/05/25  32942223   9568008388  290.5  293.0  288.5  292.0
16               109/05/26  35817481  10609868646  295.0  297.5  293.5  295.5
17               109/05/27  23375959   6932934823  297.0  298.0  295.5  296.5
18               109/05/28  32395568   9575118830  298.5  298.5  293.0  294.0
19               109/05/29  96611181  28172174547  292.0  292.5  290.0  292.0


   漲跌價差   成交筆數
0  -9.5  37736
1   0.5  13569
2   0.5  16046
3   1.5  13149
4   0.0  14345
5   3.5  14920
6  -6.0  29073
7   2.0  14555
8  -4.0  21482
9   5.0  20071
10 -8.0  49640
11  1.5  22033
12  2.5  16906
13  3.5  17064
14 -5.5  22345
15  0.0  14585
16  3.5  19524
17  1.0  11244
18 -2.5  13208
19 -2.0  21037

In [15]:
data.columns

MultiIndex([('109年05月 2330 台積電 各日成交資訊',   '日期'),
            ('109年05月 2330 台積電 各日成交資訊', '成交股數'),
            ('109年05月 2330 台積電 各日成交資訊', '成交金額'),
            ('109年05月 2330 台積電 各日成交資訊',  '開盤價'),
            ('109年05月 2330 台積電 各日成交資訊',  '最高價'),
            ('109年05月 2330 台積電 各日成交資訊',  '最低價'),
            ('109年05月 2330 台積電 各日成交資訊',  '收盤價'),
            ('109年05月 2330 台積電 各日成交資訊', '漲跌價差'),
            ('109年05月 2330 台積電 各日成交資訊', '成交筆數')],
           )

In [16]:
data.columns = data.columns.droplevel(0)

In [17]:
data.columns

Index(['日期', '成交股數', '成交金額', '開盤價', '最高價', '最低價', '收盤價', '漲跌價差', '成交筆數'], dtype='object')

In [18]:
data.to_csv('2330_20200201.csv', index=False)

In [19]:
dates = [20200201, 20200101, 20191201]
stockNo = 2330
url_template = "https://www.twse.com.tw/exchangeReport/STOCK_DAY?response=html&date={}&stockNo={}"

for date in dates :
    url = url_template.format(date, stockNo)
    file_name = "{}_{}.csv".format(stockNo, date)
    
    data = pd.read_html(requests.get(url).text)[0]
    data.columns = data.columns.droplevel(0)
    data.to_csv(file_name, index=False)